
<h1>Edit Picture</h1>

<%= form_with model: @picture do |form| %>
    <div>
        <%= form.label :title %> <br/>
        <%= form.text_field :title %>
    </div>
    <% @picture.errors.full_messages_for(:name).each do |messages|%>
        <span><%= message %></span>
    <% end %>
    <br/><br/>

    <div>
        <%= form.label :description %> <br/>
        <%= form.text_area :description %>
    </div>

    <% @picture.errors.full_messages_for(:description).each do |messages|%>
        <span><%= message %></span>
    <% end %>

    <br/><br/>

    <label >CATEGORY</label><br/>
    <select name="CATEGORY">
    <% Category.all.each do |category| %>
        <option value=<%category.name%>><%=category.name%></option>
    <%end%>
    </select><br/><br/>

    <label >IMAGE</label><br/>
    <input type="file" accept="image/png, image/jpeg, image/jpg"><br/><br/>


    <%= form.submit %>
    <div>
        <%= link_to "Back", :back %>
    </div>
<% end %>
