
<h1 class="edit_h1">Edit Picture</h1>

<%= form_with model: @picture do |form| %>
    <% @picture.errors.full_messages_for(:name).each do |messages|%>
        <span><%= message %></span>
    <% end %>
    <div>
        <label class="edit_name">TITLE</label><br>
        <%= form.text_field :title, class: "edit_name_text" %>
    </div>

    <div>
        <label class="edit_name">DESCRIPTION</label>
        <%= form.text_area :description, class: "edit_description" %>
    </div>

    <% @picture.errors.full_messages_for(:description).each do |messages|%>
        <span><%= message %></span>
    <% end %>

    <label class="edit_name">CATEGORY</label><br/>
    <select name="CATEGORY" class="edit_select">
    <% Category.all.each do |category| %>
        <option value=<%category.name%>><%=category.name%></option>
    <%end%>
    </select>

    <label class="edit_name">IMAGE</label><br/>
    <input class="edit_input_file" type="file" accept="image/png, image/jpeg, image/jpg"><br/>


    <%= form.submit "EDIT PHOTO", class: "edit_input_submit" %>
    <div>
        <%= link_to "Back", :back, class: "edit_input_back" %>
    </div>
<% end %>
