<h1>New Photo</h1>
<div>
  <% @category.errors.full_messages.each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div>
  <%= form.label :title %><br/>
  <%= form.text_field :title %>
</div>  

<div>
  <%= form.label :description %><br/>
  <%= form.text_area :description %>
</div>

<select name="CATEGORY">
  <% Category.all.each do |category| %>
    <option value=<%category.name%>><%=category.name%></option>
  <%end%>
</select>

<label >IMAGE</label>
<input type="file" accept="image/png, image/jpeg, image/jpg">

<%= form.submit %>
