<h1>New Photo</h1>
<div>
  <% @picture.errors.full_messages.each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<%= form_with model: @picture do |form| %>
<div>
  <%= form.label :title %><br/>
  <%= form.text_field :title %>
</div>  <br/>

<div>
  <%= form.label :description %><br/>
  <%= form.text_area :description %>
</div> <br/>

<label >CATEGORY</label><br/>
<select name="CATEGORY">
  <% Category.all.each do |category| %>
    <option value=<%category.name%>><%=category.name%></option>
  <%end%>
</select><br/><br/>

<label >IMAGE</label><br/>
<input type="file" accept="image/png, image/jpeg, image/jpg"><br/><br/>

<%= form.submit %>

<div>
  <%= link_to "Back", category_path %>
</div>
<% end %>
