<h1><%= @picture.title %></h1>
<p><%= @picture.description %></p>
Updated at <%= @picture.updated_at.strftime('%Y-%m-%d')%><br><br>
<%= image_tag @picture.photo%>

<h2> Comments</h2><br>
<% @comments.each do |comment| %>
<%= comment.content %><br>
<%= time_ago_in_words(comment.created_at) %><br>
<%= link_to "destroy", comment_path(comment), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    }%><br><br>
<% end %>
<div>
  <%= link_to "Back", :back %>
</div>