
<h1 class="edit_h1">Edit Category</h1>

<%= form_with model: @category do |form| %>
    <% @category.errors.full_messages_for(:name).each do |message|%>
        <span><%= message %></span><br/><br/>
    <% end %>
    <%# <% @category.errors.full_messages_for(:description).each do |message|%>
        <%#<span><%= message %><%#</span> %>
    <%#<% end %>
    <div>
        <label class="edit_name">NAME</label><br>
        <%= form.text_field :name, class: "edit_name_text" %>
    </div>

    <div>
        <label class="edit_name">DESCRIPTION</label><br>
        <%= form.text_area :description, class: "edit_description" %>
    </div>


    <label class="edit_name">COVER</label><br>
<input type="file" accept="image/png, image/jpeg, image/jpg" class="edit_input_file"><br>

    <%= form.submit "Edit Category", class: "edit_input_submit" %>
    <div>
    <%= link_to "Back", categories_path, class: "edit_input_back"  %>
    </div>
<% end %>