<h1>New Category</h1>
<div>
  <% @category.errors.full_messages.each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<%= form_with model: @category do |form| %>
<div>
  <%= form.label :name %><br/>
  <%= form.text_field :name %>
</div>  

<div>
  <%= form.label :description %><br/>
  <%= form.text_area :description %>
</div>

<label >COVER</label><br>
<input type="file" accept="image/png, image/jpeg, image/jpg"><br><br>

<%= form.submit %>

<div>
  <%= link_to "Back", categories_path %>
</div>
<% end %>