<section class="container-ss">
<h1><%=@category.name%></h1>
<p class="margin-bottom-22"><%=@category.description%></p>
<div>
    <%= link_to "New photo", new_picture_path, class:"button--nw button--sm" %>
</div>



<% @pictures.each do |picture| %>
<div>
  <%= link_to image_tag(picture.photo, class:" margin-top-16"), picture_path(picture)%>
  <div>
   <div>
    <h3 class="padding-lr-16 padding-t-8"><%= picture.title %></h3>
   </div>
   <div class="flexbox-space-between">
     <p class="padding-lr-16"><%= picture.comments_count %> comments</p>
     <div class="padding-lr-16">
        <%= link_to edit_picture_path(picture) do %>
        <i class="ri-pencil-line"></i>
        <% end %>
        <%= link_to picture_path(picture), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } do%>
        <i class="ri-delete-bin-line"></i>
        <% end %>
       <div><br>
     </div>
  </div>
</div>
<% end %>

<div>
  <%= link_to "Back", categories_path %>
</div>
</section>
