<h1><%= @category.name %></h1>

<p><%= @category.description %><p><br>


<% @pictures.each do |picture| %>
ID CAT:<%= picture.id %><br>
<%= picture.title %><br>
<%= picture.comments_count %> comments
<%= link_to "destroy", category_path(category), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    }%><br><br>
<% end %>

