<h1><%= @category.name %></h1>

<p><%= @category.description %><p><br>


<% @pictures.each do |picture| %>
<%= picture.title %><br>
<%= picture.comments_count %> comments <br>
<%= link_to "show", picture_path(picture)%>
<%= link_to "destroy", picture_path(picture), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    }%><br><br>
<% end %>

