<h1><%= @category.name %></h1>

<p><%= @category.description %><p><br>

<div>
  <%= link_to "New photo", new_picture_path %><br><br>
</div>


<% @pictures.each do |picture| %>
<%= image_tag picture.photo%>
<%= picture.title %><br>
<%= picture.comments_count %> comments <br>
<%= link_to "show", picture_path(picture)%>
<%= link_to "destroy", picture_path(picture), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    }%><br><br>
<% end %>

